The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

# Questions

1. What is the most commonly awarded gender and birth country?
2. Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?
3. Which decade and Nobel Prize category combination had the highest proportion of female laureates?
4. Who was the first woman to receive a Nobel Prize, and in what category?
5. Which individuals or organizations have won more than one Nobel Prize throughout the years?

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

In [5]:
nobel = pd.read_csv("nobel.csv")
nobel.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [6]:
nobel.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

In [7]:
# Most commonly awarded gender & birth country

top_gender = nobel["sex"].value_counts().index[0]
top_country = nobel["birth_country"].value_counts().index[0]

print(top_gender)
print(top_country)

Male
United States of America

In [9]:
dataset_merged

    decades  is_USA  count
0      1900       1     57
1      1910       3     40
2      1920       4     54
3      1930      14     56
4      1940      13     43
5      1950      21     72
6      1960      21     79
7      1970      33    104
8      1980      31     97
9      1990      42    104
10     2000      52    123
11     2010      38    121
12     2020      18     50

In [8]:
# The decade that had the highest ratio of US-born Nobel Prize winners to toal winners across all categories

nobel["is_USA"] = nobel["birth_country"] == "United States of America"

nobel["decades"] = (nobel["year"] // 10) * 10

us_decade_winners = nobel.groupby("decades").agg({"is_USA" : "sum"})
per_decade_winnings = nobel.value_counts("decades").reset_index().rename(columns = {"decades" : "decades", 0 : "winnings"})
dataset_merged = pd.merge(left = us_decade_winners, right = per_decade_winnings, on = "decades", how = "inner")
dataset_merged["proportion"] = dataset_merged["is_USA"]/dataset_merged["winnings"]
dataset_merged = dataset_merged.sort_values(by = "proportion", ascending = False).reset_index(drop = True)
max_decade_usa = dataset_merged.iloc[0, 0]
max_decade_usa

KeyError: 'winnings'

In [ ]:
nobel["female winner"] = nobel["sex"] == "Female"
female_nobel = nobel.groupby(["decades", "category"])["female winner"].mean().sort_values(ascending = False).reset_index()
female_nobel.iloc[0]

max_female_dict = {female_nobel.iloc[0, 0] : female_nobel.iloc[0, 1]}
max_female_dict

{2020: 'Literature'}

In [ ]:
# The first woman to win a nobel prize and category

women_category_nobel = nobel[nobel["sex"] == "Female"].sort_values("year")[["full_name", "category"]]

first_woman_name = women_category_nobel.iloc[0, 0]
first_woman_category = women_category_nobel.iloc[0, 1]

print(first_woman_name)
print(first_woman_category)

Marie Curie, née Sklodowska
Physics

In [ ]:
# Creating a list of names or organisations who won the nobel more than once

repeat = nobel.groupby("full_name")["full_name"].count().sort_values(ascending = False).reset_index(name = "count")
repeat_list = repeat[repeat["count"] > 1]
repeat_list = list(repeat_list["full_name"])
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)',
 'Frederick Sanger',
 'Linus Carl Pauling',
 'John Bardeen',
 'Marie Curie, née Sklodowska']