<center><img src="MKn_Staffelter_Hof.jpeg" alt="Picture of old business"</center>
<!--Image Credit: Martin Kraft https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg -->

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

## The Data
`data/businesses.csv` and `data/new_businesses.csv`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|

`data/countries.csv`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|

`data/categories.csv`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

## Questions

1. What is the oldest business on each continent?
2. How many countries per continent lack data on the oldest businesses? Does including new_businesses change this? Count the number of countries per continent missing business data, including new_businesses, and store the results in a DataFrame named count_missing with columns for the continent and the count.
3. Which business categories are best suited to last many years, and on what continent are they?

In [1]:
# Import necessary libraries
import pandas as pd

# Load the data
businesses = pd.read_csv("data/businesses.csv")
new_businesses = pd.read_csv("data/new_businesses.csv")
countries = pd.read_csv("data/countries.csv")
categories = pd.read_csv("data/categories.csv")

In [2]:
businesses.head()

                         business  year_founded category_code country_code
0                  Hamoud Boualem          1878         CAT11          DZA
1  Communauté Électrique du Bénin          1968         CAT10          BEN
2        Botswana Meat Commission          1965          CAT1          BWA
3                     Air Burkina          1967          CAT2          BFA
4                         Brarudi          1955          CAT9          BDI

In [3]:
new_businesses

                    business  year_founded category_code country_code
0                 Fiji Times          1869         CAT13          FJI
1  J. Armando Bermúdez & Co.          1852          CAT9          DOM

In [4]:
countries.head()

  country_code               country continent
0          AFG           Afghanistan      Asia
1          AGO                Angola    Africa
2          ALB               Albania    Europe
3          AND               Andorra    Europe
4          ARE  United Arab Emirates      Asia

In [5]:
categories.head()

  category_code                   category
0          CAT1                Agriculture
1          CAT2       Aviation & Transport
2          CAT3          Banking & Finance
3          CAT4  Cafés, Restaurants & Bars
4          CAT5               Conglomerate

In [6]:
all_businesses = pd.concat([businesses, new_businesses], axis = 0)
country_businesses = pd.merge(left = countries, right = all_businesses, on = "country_code", how = "left")
country_businesses_clean = country_businesses[["continent", "country", "business", "year_founded"]]
country_businesses_clean.value_counts("continent")

continent
Africa           53
Asia             49
Europe           44
North America    23
Oceania          14
South America    12
Name: count, dtype: int64

In [7]:
oldest_Asia = country_businesses_clean[country_businesses_clean["continent"] == "Asia"].sort_values(by = "year_founded").iloc[:1]
oldest_Africa = country_businesses_clean[country_businesses_clean["continent"] == "Africa"].sort_values(by = "year_founded").iloc[:1]
oldest_Europe = country_businesses_clean[country_businesses_clean["continent"] == "Europe"].sort_values(by = "year_founded").iloc[:1]
oldest_N_America = country_businesses_clean[country_businesses_clean["continent"] == "North America"].sort_values(by = "year_founded").iloc[:1]
oldest_S_America = country_businesses_clean[country_businesses_clean["continent"] == "South America"].sort_values(by = "year_founded").iloc[:1]
oldest_Oceania = country_businesses_clean[country_businesses_clean["continent"] == "Oceania"].sort_values(by = "year_founded").iloc[:1]

In [8]:
oldest_business_continent = pd.concat([oldest_Asia, oldest_Africa, oldest_Europe, oldest_N_America, oldest_S_America, oldest_Oceania], axis = 0)
oldest_business_continent

         continent    country                     business  year_founded
86            Asia      Japan                   Kongō Gumi         578.0
121         Africa  Mauritius               Mauritius Post        1772.0
9           Europe    Austria  St. Peter Stifts Kulinarium         803.0
111  North America     Mexico  La Casa de Moneda de México        1534.0
136  South America       Peru      Casa Nacional de Moneda        1565.0
8          Oceania  Australia               Australia Post        1809.0

In [9]:
country_businesses.isnull().sum()

country_code      0
country           0
continent         0
business         30
year_founded     30
category_code    30
dtype: int64

In [10]:
all_countries = pd.merge(left = all_businesses, right = countries, on = "country_code", how = "outer", indicator = True)
all_countries

,business,year_founded,category_code,country_code,country,continent,_merge
0,Spinzar Cotton Company,1930.0,CAT1,AFG,Afghanistan,Asia,both
1,NaN,NaN,NaN,AGO,Angola,Africa,right_only
2,ALBtelecom,1912.0,CAT18,ALB,Albania,Europe,both
3,Andbank,1930.0,CAT3,AND,Andorra,Europe,both
4,Liwa Chemicals,1939.0,CAT12,ARE,United Arab Emirates,Asia,both
...,...,...,...,...,...,...,...
190,Meridian Corporation,1999.0,CAT13,XK,Kosovo,Europe,both
191,Yemenia Airways,1962.0,CAT2,YEM,Yemen,Asia,both
192,Premier FMCG,1820.0,CAT12,ZAF,South Africa,Africa,both
193,ZamPost,1896.0,CAT16,ZMB,Zambia,Africa,both
194,Standard Chartered Zimbabwe,1892.0,CAT3,ZWE,Zimbabwe,Africa,both

In [11]:
missing_countries = all_countries[all_countries["_merge"] != "both"]
missing_countries

,business,year_founded,category_code,country_code,country,continent,_merge
1,NaN,NaN,NaN,AGO,Angola,Africa,right_only
7,NaN,NaN,NaN,ATG,Antigua and Barbuda,North America,right_only
18,NaN,NaN,NaN,BHS,Bahamas,North America,right_only
50,NaN,NaN,NaN,ECU,Ecuador,South America,right_only
59,NaN,NaN,NaN,FSM,"Micronesia, Federated States of",Oceania,right_only
63,NaN,NaN,NaN,GHA,Ghana,Africa,right_only
65,NaN,NaN,NaN,GMB,Gambia,Africa,right_only
69,NaN,NaN,NaN,GRD,Grenada,North America,right_only
79,NaN,NaN,NaN,IRN,"Iran, Islamic Republic of",Asia,right_only
89,NaN,NaN,NaN,KGZ,Kyrgyzstan,Asia,right_only
91,NaN,NaN,NaN,KIR,Kiribati,Oceania,right_only
92,NaN,NaN,NaN,KNA,Saint Kitts and Nevis,North America,right_only
107,NaN,NaN,NaN,MCO,Monaco,Europe,right_only
108,NaN,NaN,NaN,MDA,"Moldova, Republic of",Europe,right_only
110,NaN,NaN,NaN,MDV,Maldives,Asia,right_only
112,NaN,NaN,NaN,MHL,Marshall Islands,Oceania,right_only
131,NaN,NaN,NaN,NRU,Nauru,Oceania,right_only
138,NaN,NaN,NaN,PLW,Palau,Oceania,right_only
139,NaN,NaN,NaN,PNG,Papua New Guinea,Oceania,right_only
143,NaN,NaN,NaN,PRY,Paraguay,South America,right_only
144,NaN,NaN,NaN,PSE,"Palestine, State of",Asia,right_only
153,NaN,NaN,NaN,SLB,Solomon Islands,Oceania,right_only
160,NaN,NaN,NaN,SUR,Suriname,South America,right_only
170,NaN,NaN,NaN,TJK,Tajikistan,Asia,right_only
171,NaN,NaN,NaN,TKM,Turkmenistan,Asia,right_only
172,NaN,NaN,NaN,TLS,Timor-Leste,Asia,right_only
173,NaN,NaN,NaN,TON,Tonga,Oceania,right_only
177,NaN,NaN,NaN,TUV,Tuvalu,Oceania,right_only
185,NaN,NaN,NaN,VCT,Saint Vincent and the Grenadines,North America,right_only
189,NaN,NaN,NaN,WSM,Samoa,Oceania,right_only

In [12]:
count_missing = missing_countries.groupby("continent").agg({"country" : "count"})
count_missing.columns = ["count_missing"]
count_missing

               count_missing
continent
Africa                     3
Asia                       7
Europe                     2
North America              5
Oceania                   10
South America              3

In [13]:
all_countries_categories = pd.merge(left = all_countries, right = categories, on = "category_code")
all_countries_categories.value_counts("continent")

continent
Africa           50
Asia             42
Europe           42
North America    18
South America     9
Oceania           4
Name: count, dtype: int64

In [14]:
all_countries_categories_oldest = all_countries_categories[["continent", "category", "year_founded"]]
all_countries_categories_oldest.value_counts("continent")

continent
Africa           50
Asia             42
Europe           42
North America    18
South America     9
Oceania           4
Name: count, dtype: int64

In [15]:
all_countries_categories_oldest.shape

(165, 3)

In [16]:
businesses_country = pd.merge(left = businesses, right = countries, on = "country_code")
businesses_country_cat = pd.merge(left = demo, right = categories, on = "category_code")
businesses_country_cat

NameError: name 'demo' is not defined

In [ ]:
oldest_by_continent_category = businesses_country_cat.groupby(["continent", "category"]).agg({"year_founded" : "min"})
oldest_by_continent_category

                                                 year_founded
continent     category
Africa        Agriculture                                1947
              Aviation & Transport                       1854
              Banking & Finance                          1892
              Distillers, Vintners, & Breweries          1933
              Energy                                     1968
              Food & Beverages                           1878
              Manufacturing & Production                 1820
              Media                                      1943
              Mining                                     1962
              Postal Service                             1772
Asia          Agriculture                                1930
              Aviation & Transport                       1858
              Banking & Finance                          1830
              Cafés, Restaurants & Bars                  1153
              Conglomerate                               1841
              Construction                                578
              Defense                                    1808
              Distillers, Vintners, & Breweries          1853
              Energy                                     1928
              Food & Beverages                           1820
              Manufacturing & Production                 1736
              Media                                      1931
              Mining                                     1913
              Postal Service                             1800
              Retail                                     1883
              Telecommunications                         1885
              Tourism & Hotels                           1584
Europe        Agriculture                                1218
              Banking & Finance                          1606
              Cafés, Restaurants & Bars                   803
              Consumer Goods                             1649
              Defense                                    1878
              Distillers, Vintners, & Breweries           862
              Manufacturing & Production                  864
              Media                                      1999
              Medical                                    1422
              Mining                                     1248
              Postal Service                             1520
              Telecommunications                         1912
              Tourism & Hotels                           1230
North America Agriculture                                1638
              Aviation & Transport                       1870
              Banking & Finance                          1891
              Distillers, Vintners, & Breweries          1703
              Food & Beverages                           1920
              Manufacturing & Production                 1534
              Media                                      1909
              Retail                                     1670
              Tourism & Hotels                           1770
Oceania       Banking & Finance                          1861
              Postal Service                             1809
South America Banking & Finance                          1565
              Cafés, Restaurants & Bars                  1877
              Defense                                    1811
              Food & Beverages                           1660
              Manufacturing & Production                 1621