![insomnia](insomnia.jpg)

Your client, SleepInc, has shared anonymized sleep data from their hot new sleep tracking app SleepScope. As their data science consultant, your mission is to analyze the lifestyle survey data with Python to discover relationships between exercise, gender, occupation, and sleep quality. See if you can identify patterns leading to insights on sleep quality.

## ðŸ’¾ The data: sleep_health_data.csv

SleepInc has provided you with an anonymized dataset of sleep and lifestyle metrics for 374 individuals. This dataset contains average values for each person calculated over the past six months. The data is saved as `sleep_health_data.csv`.

The dataset includes 13 columns covering sleep duration, quality, disorders, exercise, stress, diet, demographics, and other factors related to sleep health. 

| Column | Description |
|---------|----------------------------------------|  
| `Person ID` | An identifier for each individual. |
| `Gender` | The gender of the person (Male/Female). |  
| `Age` | The age of the person in years. |
| `Occupation` | The occupation or profession of the person. |
| `Sleep Duration (hours)` | The average number of hours the person sleeps per day. |
| `Quality of Sleep (scale: 1-10)` | A subjective rating of the quality of sleep, ranging from 1 to 10. |
| `Physical Activity Level (minutes/day)` | The average number of minutes the person engages in physical activity daily. |  
| `Stress Level (scale: 1-10)` | A subjective rating of the stress level experienced by the person, ranging from 1 to 10. |
| `BMI Category` | The BMI category of the person (e.g., Underweight, Normal, Overweight). |
| `Blood Pressure (systolic/diastolic)` | The average blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure. |
| `Heart Rate (bpm)` | The average resting heart rate of the person in beats per minute. |
| `Daily Steps` | The average number of steps the person takes per day. |
| `Sleep Disorder` | The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea). |

In [15]:
# Start coding here
# Use as many cells as you need
import pandas as pd

In [16]:
dataset = pd.read_csv("sleep_health_data.csv")
dataset.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [17]:
list(dataset.columns)

['Person ID',
 'Gender',
 'Age',
 'Occupation',
 'Sleep Duration',
 'Quality of Sleep',
 'Physical Activity Level',
 'Stress Level',
 'BMI Category',
 'Blood Pressure',
 'Heart Rate',
 'Daily Steps',
 'Sleep Disorder']

In [ ]:
lowest_sleep = dataset.groupby("Occupation")["Sleep Duration"].mean().sort_values(ascending = False).reset_index()
# dataset.groupby("Occupation").agg({"Sleep Duration" : "mean"}).sort_values("Sleep Duration", ascending = False).reset_index()
lowest_occ = lowest_sleep.loc[lowest_sleep["Sleep Duration"].idxmin()]
lowest_sleep_occ = lowest_occ["Occupation"]
lowest_sleep_occ

'Sales Representative'

In [5]:
lowest_sleep_quality = dataset.groupby("Occupation")["Quality of Sleep"].mean().sort_values(ascending = False).reset_index()
lowest_occ_quality = lowest_sleep_quality.loc[lowest_sleep_quality["Quality of Sleep"].idxmin()]
lowest_sleep_quality_occ = lowest_occ_quality["Occupation"]
lowest_sleep_quality_occ

'Sales Representative'

In [6]:
same_occ = (lowest_sleep_occ == lowest_sleep_quality_occ)
print(same_occ)

True

In [28]:
dataset.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [8]:
dataset_modified = dataset[["BMI Category", "Sleep Disorder"]]
dataset_modified

    BMI Category Sleep Disorder
0     Overweight            NaN
1         Normal            NaN
2         Normal            NaN
3          Obese    Sleep Apnea
4          Obese    Sleep Apnea
..           ...            ...
369   Overweight    Sleep Apnea
370   Overweight    Sleep Apnea
371   Overweight    Sleep Apnea
372   Overweight    Sleep Apnea
373   Overweight    Sleep Apnea

[374 rows x 2 columns]

In [32]:
BMI = dataset_modified.groupby(["BMI Category", "Sleep Disorder"]).agg({"Sleep Disorder" : "count"})
BMI

                             Sleep Disorder
BMI Category Sleep Disorder
Normal       Insomnia                     9
             Sleep Apnea                  7
Obese        Insomnia                     4
             Sleep Apnea                  6
Overweight   Insomnia                    64
             Sleep Apnea                 65

In [10]:
bmi_normal = BMI["Normal"]["Insomnia"]
bmi_obese = BMI["Obese"]["Insomnia"]
bmi_overweight = BMI["Overweight"]["Insomnia"]

In [11]:
normal_ratio = (bmi_normal / len(dataset_modified[dataset_modified["BMI Category"] == "Normal"])).round(2)
obese_ratio = (bmi_obese / len(dataset_modified[dataset_modified["BMI Category"] == "Obese"])).round(2)
overweight_ratio = (bmi_overweight / len(dataset_modified[dataset_modified["BMI Category"] == "Overweight"])).round(2)

In [12]:
bmi_insomnia_ratios = {"Normal" : float(normal_ratio),
                      "Obese" : float(obese_ratio),
                      "Overweight" : float(overweight_ratio)}
bmi_insomnia_ratios

{'Normal': 0.04, 'Obese': 0.4, 'Overweight': 0.43}